kube-prometheus-stack:
  grafana:
    enabled: false
    forceDeployDashboards: true

  prometheus:
    prometheusSpec:
      #     securityContext:
      #       runAsGroup: 0
      #       runAsNonRoot: false
      #       runAsUser: 0
      #       fsGroup: 0
      retention: 24h
      storageSpec:
        volumeClaimTemplate:
          spec:
            accessModes: ['ReadWriteOnce']
            resources:
              requests:
                storage: 20Gi

loki:
  loki:
    auth_enabled: false

    commonConfig:
      replication_factor: 1

    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault

    schemaConfig:
      configs:
        - from: 2024-04-01
          store: tsdb
          object_store: s3
          schema: v13
          index:
            prefix: loki_index_
            period: 24h

    ingester:
      chunk_encoding: snappy

    limits_config:
      allow_structured_metadata: true
      volume_enabled: true

    ruler:
      enable_api: true

    querier:
      # Default is 4, if you have enough memory and CPU you can increase, reduce if OOMing
      max_concurrent: 2

  minio:
    enabled: true

    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL

    securityContext:
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault

  lokiCanary:
    enabled: true
    push: false

  resultsCache:
    enabled: false

  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1

    persistence:
      enableStatefulSetAutoDeletePVC: true
      enabled: true

    resources:
      limits:
        cpu: 1
        memory: 1Gi
      requests:
        cpu: 50m
        memory: 128Mi

    extraEnv:
      # Keep a little bit lower than memory limits
      - name: GOMEMLIMIT
        value: 850MiB

  chunksCache:
    enabled: false
    # default is 500MB, with limited memory keep this smaller
    writebackSizeLimit: 25MB

  gateway:
    enabled: false

  # Zero out replica counts of other deployment modes
  backend:
    replicas: 0
  read:
    replicas: 0
  write:
    replicas: 0
  ingester:
    replicas: 0
  querier:
    replicas: 0
  queryFrontend:
    replicas: 0
  queryScheduler:
    replicas: 0
  distributor:
    replicas: 0
  compactor:
    replicas: 0
  indexGateway:
    replicas: 0
  bloomCompactor:
    replicas: 0
  bloomGateway:
    replicas: 0

alloy:
  global:
    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault

  alloy:
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL

    configMap:
      content: |
        loki.write "default" {
          endpoint {
            url = "http://monitoring-loki.monitoring.svc.cluster.local:3100/loki/api/v1/push"
          }
        }

        local.file_match "node_logs" {
          path_targets = [{
              __path__  = "/var/log/syslog",
              job       = "node/syslog",
              node_name = sys.env("HOSTNAME"),
              cluster   = "whpah",
          }]
        }

        loki.source.file "node_logs" {
          targets    = local.file_match.node_logs.targets
          forward_to = [loki.write.default.receiver]
        }

        discovery.kubernetes "pod" {
          role = "pod"

          namespaces {
            names = ["spenn", "five31", "bakseter-net", "traefik"]
          }
        }

        discovery.relabel "pod_logs" {
          targets = discovery.kubernetes.pod.targets

          rule {
            source_labels = ["__meta_kubernetes_namespace"]
            action = "replace"
            target_label = "namespace"
          }

          rule {
            source_labels = ["__meta_kubernetes_pod_name"]
            action = "replace"
            target_label = "pod"
          }

          rule {
            source_labels = ["__meta_kubernetes_pod_container_name"]
            action = "replace"
            target_label = "container"
          }

          rule {
            source_labels = ["__meta_kubernetes_pod_label_app_kubernetes_io_name"]
            action = "replace"
            target_label = "app"
          }

          rule {
            source_labels = ["__meta_kubernetes_namespace", "__meta_kubernetes_pod_container_name"]
            action = "replace"
            target_label = "job"
            separator = "/"
            replacement = "$1"
          }

          rule {
            source_labels = ["__meta_kubernetes_pod_uid", "__meta_kubernetes_pod_container_name"]
            action = "replace"
            target_label = "__path__"
            separator = "/"
            replacement = "/var/log/pods/*$1/*.log"
          }

          rule {
            source_labels = ["__meta_kubernetes_pod_container_id"]
            action = "replace"
            target_label = "container_runtime"
            regex = "^(\\S+):\\/\\/.+$"
            replacement = "$1"
          }
        }

        loki.source.kubernetes "pod_logs" {
          targets    = discovery.relabel.pod_logs.output
          forward_to = [loki.process.pod_logs.receiver]
        }

        loki.process "pod_logs" {
          stage.static_labels {
              values = {
                cluster = "whpah",
              }
          }

          forward_to = [loki.write.default.receiver]
        }

        loki.source.kubernetes_events "cluster_events" {
          job_name   = "integrations/kubernetes/eventhandler"
          log_format = "logfmt"
          forward_to = [
            loki.process.cluster_events.receiver,
          ]
        }

        loki.process "cluster_events" {
          forward_to = [loki.write.default.receiver]

          stage.static_labels {
            values = {
              cluster = "whpah",
            }
          }

          stage.labels {
            values = {
              kubernetes_cluster_events = "job",
            }
          }
        }

  configReloader:
    securityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      capabilities:
        drop:
          - ALL

grafana-operator:
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
