kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: immich
  namespace: immich
spec:
  podSelector: {}
  policyTypes:
    - Ingress
#   - Egress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: immich
# egress:
#   - to:
#       - namespaceSelector:
#           matchLabels:
#             kubernetes.io/metadata.name: immich
