argo-cd:
  global:
    revisionHistoryLimit: 5
    networkPolicy:
      create: true

  configs:
    repositories:
      argocd:
        url: https://github.com/bakseter/homelab.git

    params:
      server.insecure: true

    cm:
      url: https://argocd.bakseter.net
      additionalUrls: |
        https://argocd.tail79d70a.ts.net

      admin.enabled: false
      dex.config: |
        connectors:
          - type: authproxy
            id: oauth2-proxy
            name: Proxy
            config:
              userHeader: X-Auth-Request-Email
              groupHeader: X-Auth-Request-Groups

    rbac:
      scopes: '[groups, email]'
      policy.default: ''
      policy.csv: |
        p, role:org-admin, *, get, *, allow
        p, role:org-admin, applications, sync, *, allow
        p, role:org-admin, applicationsets, sync, *, allow
        g, andreas_tkd@hotmail.com, role:org-admin

    dex:
      enabled: true

  notifications:
    enabled: false

  redis-ha:
    enabled: true

  controller:
    replicas: 1
    env:
      - name: ARGOCD_APPLICATION_TREE_SHARD_SIZE
        value: '50'

  server:
    replicas: 2

  repoServer:
    replicas: 2

  applicationSet:
    replicas: 2

oauth2-proxy:
  config:
    existingSecret: google-credentials

  ingress:
    enabled: false

  replicaCount: 2

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app
                operator: In
                values:
                  - public
          topologyKey: bakseter.net/physical-node

  extraArgs:
    provider: google
    oidc-issuer-url: https://accounts.google.com
    http-address: 0.0.0.0:4180
    code-challenge-method: S256
    cookie-csrf-per-request: true
    cookie-secure: true
    cookie-samesite: none
    silence-ping-logging: true
    skip-provider-button: true
    #reverse-proxy: true
    real-client-ip-header: X-Forwarded-For
    email-domain: '*'
    set-xauthrequest: true

    upstream: http://argocd-server.argocd.svc.cluster.local:80
    redirect-url: https://argocd.bakseter.net/oauth2/callback
    cookie-domain: .bakseter.net
    whitelist-domain: .bakseter.net
