default:
  configPatches: |-
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: true

nodes:
  m720q:
    cores: 6
    ip: 192.168.1.28
    memory: 32
    disk: 240
    virtualNodes:
      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.50

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.51
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.52
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"

  m715q:
    cores: 4
    memory: 16
    disk: 120
    ip: 192.168.1.27
    virtualNodes:
      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.60
        extraConfigPatches: |-
          cluster:
            extraManifests:
              - 'https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml'
              - 'https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml'

      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.61

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 400
        ip: 192.168.1.62
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
