oauth2-proxy:
  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/funnel: 'true'
    hosts:
      - oauth2-proxy
    tls:
      - hosts:
          - oauth2-proxy
