apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: root
  namespace: argocd
spec:
  goTemplate: true
  goTemplateOptions: ['missingkey=error']
  generators:
    - git:
        directories:
          - path: manifests/*
        repoURL: https://github.com/bakseter/homelab.git
        revision: HEAD
  template:
    metadata:
      labels:
        app.kubernetes.io/component: '{{.path.basename}}'
      name: '{{.path.basename}}'
    spec:
      project: default
      destination:
        namespace: argocd
        name: admin@homelab
      source:
        path: '{{.path.path}}'
        repoURL: https://github.com/bakseter/homelab.git
        targetRevision: HEAD
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - ServerSideApply=true
