apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  policyTypes:
    - Ingress
  podSelector: {}
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kuberenetes.io/metadata.name: tailscale
          podSelector:
            matchLabels:
              tailscale.com/parent-resource: jellyfin
              tailscale.com/parent-resource-ns: jellyfin
      ports:
        - protocol: TCP
          port: 8096
