immich:
  immich:
    persistence:
      library:
        existingClaim: immich-library

  machine-learning:
    enabled: false

  # https://github.com/immich-app/immich-charts/issues/112#issuecomment-3648173277
  server:
    defaultPodOptions:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
    controllers:
      main:
        defaultContainerOptions:
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: [ALL]
