#apiVersion: traefik.io/v1alpha1
#kind: IngressRoute
#metadata:
#  name: argocd-oauth2-proxy
#  namespace: argocd
#spec:
#  entryPoints:
#    - public
#  routes:
#    - kind: Rule
#      match: Host(`argocd.bakseter.net`)
#      services:
#        - name: argocd-oauth2-proxy
#          port: 80
#---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server
  namespace: argocd
spec:
  ingressClassName: tailscale
  rules:
    - http:
        paths:
          - backend:
              service:
                name: argocd-server
                port:
                  number: 80
            path: /
            pathType: Prefix
  tls:
    - hosts:
        - argocd
