apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-server
  namespace: traefik
spec:
  ingressClassName: tailscale
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: traefik
                port:
                  name: internal
  tls:
    - hosts:
        - argocd
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: argocd-server
  namespace: argocd
spec:
  entrypoints:
    - private
  routes:
    - kind: Rule
      match: HostRegexp(`^argocd\..*\.ts\.net$`)
      priority: 10
      services:
        - name: argocd-server
          port: 80
      middlewares:
        - name: forwardauth
          namespace: oauth2-proxy
    - kind: Rule
      match: HostRegexp(`^argocd\..*\.ts\.net$`) && Header(`Content-Type`, `application/grpc`)
      priority: 11
      services:
        - name: argocd-server
          port: 80
          scheme: h2c
