jellyfin:
  persistence:
    media:
      size: 50Gi

  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/tags: media
    hosts:
      - host: jellyfin
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
          - jellyfin

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    seccompProfile:
      type: RuntimeDefault
    supplementalGroups:
      - 65534

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
