jellyfin:
  persistence:
    media:
      size: 100Gi

  # networkPolicy:
  #   enabled: true

  #   ingress:
  #     allowExternal: false

  #     namespaceSelector:
  #       matchLabels:
  #         kubernetes.io/metadata.name: tailscale

  #     podSelector:
  #       matchLabels:
  #         tailscale.com/parent-resource: jellyfin
  #         tailscale.com/parent-resource-ns: jellyfin

  ingress:
    enabled: true
    className: tailscale
    annotations:
      tailscale.com/tags: 'tag:k8s,tag:media'
    hosts:
      - host: jellyfin
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - hosts:
          - jellyfin

  podSecurityContext:
    runAsNonRoot: true
    runAsUser: 65534
    runAsGroup: 65534
    fsGroup: 65534
    seccompProfile:
      type: RuntimeDefault
    supplementalGroups:
      - 65534

  securityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true

  volumes:
    - name: tmp
      emptyDir: {}

  volumeMounts:
    - name: tmp
      mountPath: /tmp
