tailscale-operator:
  operatorConfig:
    securityContext:
      capabilities:
        drop:
          - ALL

    podSecurityContext:
      allowPrivilegeEscalation: false
      runAsNonRoot: true
      seccompProfile:
        type: RuntimeDefault
