tailscale-operator:
  operatorConfig:
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL

    podSecurityContext:
      seccompProfile:
        type: RuntimeDefault
