apiVersion: k8s.keycloak.org/v2alpha1
kind: Keycloak
metadata:
  name: keycloak
  namespace: keycloak
spec:
  instances: 1

  db:
    vendor: postgres
    host: keycloak-database-rw
    usernameSecret:
      name: keycloak-database-app
      key: username
    passwordSecret:
      name: keycloak-database-app
      key: password

  http:
    httpEnabled: true

  hostname:
    hostname: keycloak.bakseter.net
    admin: http://localhost:8080
    backchannelDynamic: true

  ingress:
    enabled: false

  proxy:
    headers: xforwarded # double check your reverse proxy sets and overwrites the X-Forwarded-* headers

  unsupported:
    podTemplate:
      spec:
        securityContext:
          runAsNonRoot: true
          seccompProfile:
            type: RuntimeDefault
        containers:
          - securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop:
                  - ALL
