cluster:
  %{~ if node_type == "controlplane" ~}
  etcd:
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  %{~ endif ~}

machine:
  time:
    bootTimeout: 2m
  network:
    interfaces:
      - deviceSelector:
          busPath: '0*'
          driver: 'virtio_net'
        dhcp: false
        addresses:
          - ${node_ip}/24
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.30.1
        %{~ if node_type == "controlplane" ~}
        vip:
          ip: ${virtual_ip_controlplane}
        %{~ endif ~}
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/installer/${talos_schematic_id}:${talos_version}
provisioning:
  diskSelector:
    match: disk.dev_path == '/dev/sda'
---
%{~ if node_type == "controlplane" ~}
apiVersion: v1alpha1
kind: KubeClusterConfig
clusterName: homelab
endpoint: https://${virtual_ip_controlplane}:6443
---
apiVersion: v1alpha1
kind: KubeServiceAccountConfig
issuer:
  issuerURL: https://${virtual_ip_controlplane}:6443
%{~ endif ~}
apiVersion: v1alpha1
kind: KubeletConfig
extraArgs:
  rotate-server-certificates: true
config:
  imageGCHighThresholdPercent: 60
  imageGCLowThresholdPercent: 40
  imageMinimumGCAge: '5m'
---
apiVersion: v1alpha1
kind: KubeNodeConfig
labels:
  bakseter.net/physical-node: ${physical_node_name}
  bakseter.net/node: ${hostname}
---
apiVersion: v1alpha1
kind: ResolverConfig
hostDNS:
  forwardKubeDNSToHost: false
---
apiVersion: v1alpha1
kind: KubeFlannelCNIConfig
$patch: delete
---
apiVersion: v1alpha1
kind: KubeProxyConfig
enabled: false
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s # one week
---
apiVersion: v1alpha1
kind: SecurityProfileConfig
workloadIsolation: true
