machine:
  nodeLabels:
    node.longhorn.io/create-default-disk: 'config'
  nodeAnnotations:
    node.longhorn.io/default-disks-config: '[{"path":"/var/mnt/longhorn","allowScheduling":true}]'

  %{~ if length(extension_image_refs) > 0 ~}
  install:
    extensions:
    %{~ for image_ref in extension_image_refs ~}
      - image: ${image_ref}
    %{~ endfor ~}
  %{~ endif ~}
%{~ if volume_uuid == "" ~}
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: "'${disk_path}' in disk.symlinks"
  grow: false
%{~ else ~}
---
apiVersion: v1alpha1
kind: ExistingVolumeConfig
name: longhorn
discovery:
  volumeSelector:
    match: volume.uuid == '${volume_uuid}'
%{~ endif ~}
