machine:
  kubelet:
    extraMounts:
      - destination: ${mount_path}
        type: bind
        source: /var/mnt/longhorn
        options:
          - bind
          - rshared
          - rw

  nodeLabels:
    node.longhorn.io/create-default-disk: "true"

  %{~ if length(extension_image_refs) > 0 ~}
  install:
    extensions:
    %{~ for image_ref in extension_image_refs ~}
      - image: ${image_ref}
    %{~ endfor ~}
  %{~ endif ~}
%{~ if volume_uuid == "" ~}
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: longhorn
provisioning:
  diskSelector:
    match: "'${disk_path}' in disk.symlinks"
  grow: false
%{~ else ~}
---
apiVersion: v1alpha1
kind: ExistingVolumeConfig
name: longhorn
discovery:
  volumeSelector:
    match: volume.uuid == '${volume_uuid}'
%{~ endif ~}
