default:
  configPatches: |-
    machine:
      install:
        image: factory.talos.dev/installer/${talos_schematic_id}:${talos_version}
      kubelet:
        extraArgs:
          rotate-server-certificates: true

nodes:
  m720q:
    cores: 6
    ip: 192.168.1.28
    memory: 32
    disk: 240
    virtualNodes:
      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.100

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.101
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.102
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}

  m715q:
    cores: 4
    memory: 16
    disk: 120
    ip: 192.168.1.27
    virtualNodes:
      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.110
        extraConfigPatches: |-
          cluster:
            extraManifests:
              - 'https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml'
              - 'https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml'

      - type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.111

      - type: worker
        cores: 4
        memory: 4
        disk: 25
        longhornDisk: 400
        ip: 192.168.1.112
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}
