default:
  configPatches: |-
    cluster:
      controlPlane:
        endpoint: https://${virtual_ip_controlplane}:6443
      network:
        cni:
          name: none
      proxy:
        disabled: true
    machine:
      install:
        image: factory.talos.dev/installer/${talos_schematic_id}:${talos_version}
      kubelet:
        extraArgs:
          rotate-server-certificates: true

# TODO: Verify virtualNodes use no more than available resources on physical nodes

nodes:
  m720q:
    cores: 6
    ip: 192.168.1.28
    memory: 32
    disk: 480
    virtualNodes:
      - hostname: m720q-controlplane-1
        type: controlplane
        cores: 2
        memory: 4
        disk: 25
        ip: 192.168.1.100

      - hostname: m720q-worker-1
        type: worker
        cores: 6
        memory: 12
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.101
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            disks:
              - device: /dev/sdb
                partitions:
                  - mountpoint: /var/lib/longhorn
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}

      - hostname: m720q-worker-2
        type: worker
        cores: 4
        memory: 8
        disk: 25
        longhornDisk: 200
        ip: 192.168.1.102
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            disks:
              - device: /dev/sdb
                partitions:
                  - mountpoint: /var/lib/longhorn
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}

  m715q:
    cores: 4
    memory: 16
    disk: 480
    ip: 192.168.1.27
    virtualNodes:
      - hostname: m715q-controlplane-1
        type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.110
        extraConfigPatches: |-
          cluster:
            extraManifests:
              - 'https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml'
              - 'https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml'

      - hostname: m715q-worker-1
        type: worker
        cores: 4
        memory: 8
        disk: 25
        longhornDisk: 400
        ip: 192.168.1.111
        extraConfigPatches: |-
          machine:
            nodeLabels:
              node.longhorn.io/create-default-disk: "true"
            disks:
              - device: /dev/sdb
                partitions:
                  - mountpoint: /var/lib/longhorn
            kubelet:
              extraMounts:
                - destination: /var/lib/longhorn
                  type: bind
                  source: /var/lib/longhorn
                  options:
                    - bind
                    - rshared
                    - rw
            %{~ if length(extension_image_refs) > 0 ~}
            install:
              extensions:
              %{~ for image_ref in extension_image_refs ~}
                - image: ${image_ref}
              %{~ endfor ~}
            %{~ endif ~}

  m715q2:
    cores: 4
    memory: 16
    disk: 120
    ip: 192.168.1.29
    virtualNodes:
      - hostname: m715q2-controlplane-1
        type: controlplane
        cores: 4
        memory: 4
        disk: 25
        ip: 192.168.1.120

      - hostname: m715q2-worker-1
        type: worker
        cores: 4
        memory: 8
        disk: 75
        ip: 192.168.1.121
