# TODO: don't do this.
#
# kubectl -n forgejo get secret forgejo-admin -o jsonpath='{.data.password}' | base64 -d ; echo
#
apiVersion: v1alpha1
kind: RegistryAuthConfig
name: '10.106.38.190:3000'
username: gitea_admin
# changes on forgejo reboot :)
password: ${forgejo_admin_password}
