traefik:
  deployment:
    replicas: 1

  entrypoints:
    funnel:
      address: ':9000'
    internal:
      address: ':9001'

  ports:
    # Disable default entrypoints
    web:
      expose:
        default: false
    websecure:
      expose:
        default: false
    traefik:
      expose:
        default: false

    funnel:
      expose:
        default: true
      port: 9000
      exposedPort: 9000
      protocol: TCP

    internal:
      expose:
        default: true
      asDefault: true
      port: 9001
      exposedPort: 9001
      protocol: TCP

  api:
    dashboard: false

  additionalArguments:
    - '--serversTransport.insecureSkipVerify=true'

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  service:
    enabled: true
    type: ClusterIP
