traefik:
  deployment:
    replicas: 1

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  resources:
    requests:
      cpu: '100m'
      memory: '100Mi'
    limits:
      cpu: '300m'
      memory: '300Mi'

  ports:
    web:
      asDefault: true

    websecure:
      asDefault: false
      expose:
        default: false
