traefik:
  deployment:
    replicas: 2

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  resources:
    requests:
      cpu: '100m'
      memory: '100Mi'
    limits:
      cpu: '300m'
      memory: '300Mi'

  entryPoints:
    public:
      address: ':9000'
    private:
      address: ':9001'

  ports:
    # Disable default entrypoints
    web:
      expose:
        default: false
    websecure:
      expose:
        default: false
    traefik:
      expose:
        default: false

    public: # Cloudflare Tunnel
      expose:
        default: true
      port: 9000
      exposedPort: 9000

    private: # Tailscale (not funnel)
      asDefault: true
      expose:
        default: true
      port: 9001
      exposedPort: 9001

  api:
    dashboard: false

  additionalArguments:
    - '--serversTransport.insecureSkipVerify=true'

  logs:
    access:
      enabled: true

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
          topologyKey: bakseter.net/physical-node
