traefik:
  deployment:
    replicas: 2

  entrypoints:
    funnel:
      address: ':8000'
    internal:
      address: ':8001'

  ports:
    funnel:
      port: 8000
      exposedPort: 8000
      protocol: TCP
    internal:
      asDefault: true
      port: 8001
      exposedPort: 8001
      protocol: TCP

  globalArguments:
    - '--entrypoints.internal.address=:8001'
    - '--entrypoints.funnel.address=:8000'

  api:
    dashboard: false

  additionalArguments:
    - '--serversTransport.insecureSkipVerify=true'

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  service:
    enabled: true
    type: ClusterIP
