traefik:
  deployment:
    replicas: 2

  entrypoints:
    funnel:
      address: ':8000'
    internal:
      address: ':8001'

  ports:
    # Disable default entrypoints
    web:
      expose:
        default: false
    websecure:
      expose:
        default: false
    traefik:
      expose:
        default: false

    funnel:
      expose:
        default: true
      port: 8080
      exposedPort: 8080
      protocol: TCP

    internal:
      expose:
        default: true
      asDefault: true
      port: 8081
      exposedPort: 8081
      protocol: TCP

  api:
    dashboard: false

  additionalArguments:
    - '--serversTransport.insecureSkipVerify=true'

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  service:
    enabled: true
    type: ClusterIP
