traefik:
  deployment:
    replicas: 2

  providers:
    kubernetesCRD:
      allowCrossNamespace: true

  resources:
    requests:
      cpu: '100m'
      memory: '100Mi'
    limits:
      cpu: '300m'
      memory: '300Mi'

  ports:
    # Disable default entrypoints
    web:
      expose:
        default: false
    websecure:
      expose:
        default: false
    traefik:
      expose:
        default: false

    public: # Cloudflare Tunnel
      expose:
        default: true
      port: 9000
      exposedPort: 9000
      forwardedHeaders:
        trustedIPs:
          - '10.244.5.15'
          - '10.244.7.82'

  api:
    dashboard: false

  additionalArguments:
    - '--serversTransport.insecureSkipVerify=true'

  logs:
    access:
      enabled: true

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/name: traefik
          topologyKey: bakseter.net/physical-node
