keel:
  image:
    repository: keelhq/keel
    tag: 0.20.0 # https://github.com/keel-hq/keel/issues/833

  helmProvider:
    enabled: false

  secret:
    enabled: false

  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
