apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: keel
  namespace: keel
spec:
  podSelector: {}

  policyTypes:
    - Ingress
    - Egress

  egress:
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: kube-system
        - podSelector:
            matchLabels:
              k8s-app: kube-dns
      ports:
        - protocol: UDP
          port: 53

    - to:
        - ipBlock:
            cidr: '0.0.0.0/0'
      ports:
        - protocol: TCP
          port: 443
