longhorn:
  preUpgradeChecker:
    jobEnabled: false

  defaultSettings:
    defaultDataPath: /var/lib/longhorn
    #createDefaultDiskLabeledNodes: true

  defaultBackupStore:
    backupTarget: hel1.your-objectstorage.com
    backupTargetCredentialSecret: longhorn-backup-secret

  networkPolicies:
    enabled: true

  ingress:
    enabled: true
    ingressClassName: tailscale
    host: longhorn
    tls:
      - hosts:
          - longhorn
