longhorn:
  preUpgradeChecker:
    jobEnabled: false

  defaultSettings:
    defaultDataPath: /var/lib/longhorn
    #createDefaultDiskLabeledNodes: true

  networkPolicies:
    enabled: true

  ingress:
    enabled: true
    ingressClassName: tailscale
    host: longhorn
