apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: 'grafana'
spec:
  ingress:
    metadata:
      annotations:
        tailscale.com/funnel: 'true'
    spec:
      ingressClassName: tailscale
      rules:
        - http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
      tls:
        - hosts:
            - grafana
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      key: admin-user
                      name: grafana-admin-secret
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: admin-password
                      name: grafana-admin-secret
  config:
    log:
      mode: 'console'
    auth:
      disable_login_form: 'false'
---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin-secret
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgDpxiDnHzY6VpYSEG8oCZD5pju5dTw9/jRCaF7e3xuF4I/nf5mjz69liJEdneDEfJAY6Dkb6J/H7kLXm375N/2o2kzMRKn6deE2uBPSItd3j/O1uAJJt/oRo5VZFnREiJmGyZrTzCqoCgWmWAAgbxPXrEZVhffOUSILDpdfJN12LYZlvYYtXzWGuchgrqFtggvXFbjd6LLWAlIqlc9ySN0nb6tOOOfsY/M4aOxRa7icoB9MOvt/oG7U1pUG9FYkViahiaaU9disariNck8V8SAlg95hXL+4e0TIAGxSBP3BayKdalzzoMh1tEvHqsk96uP3aoq1l7R3jIp7VIxvoEhkXvUs59h0IiQyK/P3xLltbs+1KrRhkNy3NUwbeUh0r+OlaenVXuyrS6mVW+eJ77SqcTzw3x1IBxw9mnbPWG8v85JJjA2ADlTSTo+Iht66WuRFu35E5JB3Gg5OfXGUSFZzMRWaHo+WdkQOuBY4ThOsSXx2sqVNKA354mB2eBpWjXyL8AlJ55wrEwSxE0pljSbNM1XNM1BGrUi+QFOmcJ923be70CPe815ekMj+LEIcJb1nV8eBs+wDZks24CVLHmk6djysktpPrplnCgwsTmmyCeD9dyGVdONuxIN2WpeM5dp2VRaNMEFGlnPcNPKIhpX5UJ+BNw9WbvSjS3Jx0+BpVYHtcxAGe6J2Nnd7BANkeOAy7rvGF+upopgqhihWBSF9hy17M3B/YdvHWUhmhBgVag==
    admin-user: AgBLMy12QCqEFyLaJKPJYSss00QhQOFcFR9r4r3nrTLy6dkR6DsrjMk6TRxjDPyHtdMKjHHS9KVeltKXNLTDuJZO7oG6plYQt1BsX3+s63cIrO1V2xVrb9fPfy/n6mEmxWbHBi00iqtpRDze+gOl+2ZFKS2F33CTzq4oRQdz6rIREloT9XanFQWOqdA78+6eDA9vFuCc94L8yy58FCGNkz8GZFgcke37EdlfUCvNVHgH+I6tAW4auUn5g1RGeMl2A/JwvsO6jCiqlQErJTJznm3iZ5X+vV9F2K4995/COzD2WPxkjmrtBqqnkC1kM9KEBrqpYsax2C4PfJkZ8dkLh6WS0vuWaSMx/FDm8iZWfsNhqvwmJkhjo/3KG+htGZkuAN/63A8sjfdSYAO/YrR1ufI8pSxk2O/27e/R0f+6ianYmOHzL5z1H9hiZQK4bACN+Mi80uy6g4UDwUkYQzgKXi9H+6Foj2/KSDAE/bSMSajoEjBt5rZtskFa3A1WRP82FeORSc1msBpOV+1BXUnUgDliP16GgT50mExJyYR1+XR2CKKn22ayyWre3Z2z9SJZCyq8Krno/Tu9qhwiCj49n+MYpKjSYXmdex0jgRmvWVFAxPPHVARTXZxsX6awZCupTcaRYtnOiwI3hwv7DGUBzozsuZ19puLLL85B+CqsyT4PLePQIrsHgqbUP72CUp4nrIu/KhvwAqCykVkI/zo=
  template:
    metadata:
      name: grafana-admin-secret
      namespace: monitoring
