apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: 'grafana'
spec:
  ingress:
    spec:
      ingressClassName: tailscale
      rules:
        - http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
      tls:
        - hosts:
            - grafana
  deployment:
    spec:
      template:
        spec:
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            seccompProfile:
              type: RuntimeDefault
            supplementalGroups:
              - 65534
          containers:
            - name: grafana
              securityContext:
                allowPrivilegeEscalation: false
                capabilities:
                  drop:
                    - ALL
  config:
    log:
      mode: 'console'
    server:
      domain: grafana.tail79d70a.ts.net
      root_url: https://grafana.tail79d70a.ts.net
    auth:
      disable_login_form: 'true'
    users:
      auto_assign_org: 'true'
      auto_assign_org_id: 'true'
      auto_assign_role: 'Viewer'
    auth.proxy:
      enabled: 'true'
      header_name: Tailscale-User-Login
      header_property: username
      auto_sign_up: 'true'
      sync_ttl: '60'
      whitelist: '0.0.0.0/0'
      #whitelist: '100.0.0.0/8, 100.73.169.118' # all Tailscale IPs
      headers: Name:Tailscale-User-Name
      # enable_login_token: true
