apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  labels:
    dashboards: 'grafana'
spec:
  ingress:
    spec:
      ingressClassName: tailscale
      rules:
        - http:
            paths:
              - backend:
                  service:
                    name: grafana-service
                    port:
                      number: 3000
                path: /
                pathType: Prefix
      tls:
        - hosts:
            - grafana
  deployment:
    spec:
      template:
        spec:
          containers:
            - name: grafana
              env:
                - name: GF_SECURITY_ADMIN_USER
                  valueFrom:
                    secretKeyRef:
                      key: admin-user
                      name: grafana-admin-secret
                - name: GF_SECURITY_ADMIN_PASSWORD
                  valueFrom:
                    secretKeyRef:
                      key: admin-password
                      name: grafana-admin-secret
  config:
    log:
      mode: 'console'
    server:
      domain: grafana.tail79d70a.ts.net
      root_url: https://grafana.tail79d70a.ts.net
    auth.proxy:
      enabled: true
      header_name: Tailscale-User-Login
      header_property: username
      auto_sign_up: true
      sync_ttl: 60
      whitelist: 127.0.0.1
      headers: Name:Tailscale-User-Name
      # enable_login_token: true
